  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="css/main.css"/>
  <style>
    body{color:white;}
  </style>
</head>

<div class="container">

  <p>
  <b>Name:</b>
  <%= @user.name %>
</p>

</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <%= image_tag @user.pic_url, width:200 %>
</p>


<%= link_to 'Edit Profile', edit_user_path(@user) %>

<h3>Create a new Goal</h3>
<p id="notice"><%= notice %></p>
<%= form_for(@goal) do |f| %>
 <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %></br>

    <%= f.label :description %><br />
    <%= f.text_area :description %></br>

    <%= f.hidden_field :user_id, value: @user.id %>

    <%= f.label :start_date %>
    <%= f.date_select :start_date %></br>

    <%= f.label :end_date %>
    <%= f.date_select :end_date %></br>

    <%= f.label :status %>
    <%= f.select :status, options_for_select(["Not Started","In Progress", "Completed", "Screw It"]) %></br>

    <%= f.submit %>
<% end %>

<h3>Goals</h3>
<% @user.goals.each do |goal| %>
<%=link_to goal.name, edit_goal_url(goal.id)%>
<%=goal.description%></br>
Start Date:
<%=goal.start_date%> ||
End Date:
<%=goal.end_date%></br>
Status:
<%=goal.status%></br>
<%end%>
</div>
