<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <%= image_tag @user.pic_url %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |

<h3>Create a new Goal</h3>
<%= form_for(@goal) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %></br>

    <%= f.label :description %><br />
    <%= f.text_area :description %></br>

    <%= f.hidden_field :user_id, value: @user.id %>

    <%= f.label :start_date %>
    <%= f.date_select :start_date %></br>

    <%= f.label :end_date %>
    <%= f.date_select :end_date %></br>

    <%= f.label :status %>
    <%= f.select :status, options_for_select(["Not Started","In Progress", "Completed", "Screw It"]) %></br>

    <%= f.submit %>
<% end %>

<h3>Goals</h3>
<% @user.goals.each do |goal| %>
<%=link_to goal.name, edit_goal_url(goal.id)%>
<%=goal.description%></br>
Start Date:
<%=goal.start_date%> ||
End Date:
<%=goal.end_date%></br>
Status:
<%=goal.status%></br>
<%end%>
