  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="css/main.css"/>
  <style>
    body{color:white;}
  </style>
</head>

<div class="container">

<div class="wrapper">

<div class="left">  
<h3>
  <%= @user.name %>
</h3>


<h4 class="email">
  <%= @user.email %>
</h4>
<h4>
  <%= image_tag @user.pic_url, width:200 %>
</h4>


<%= link_to 'Edit Profile', edit_user_path(@user) %>
</div>

<div class="right">

<h3 class="create-goal">Create a new Goal</h3>
<p id="notice"><%= notice %></p>
<%= form_for(@goal) do |f| %>
 <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %></br>

    <%= f.label :description %>
    <%= f.text_area :description %></br>

    <%= f.hidden_field :user_id, value: @user.id %>

    <%= f.label :start_date %>
    <%= f.date_select :start_date %></br>

    <%= f.label :end_date %>
    <%= f.date_select :end_date %></br>

    <%= f.label :status %>
    <%= f.select :status, options_for_select(["Not Started","In Progress", "Completed", "Screw It"]) %></br>

    <%= f.submit %>
<% end %>

<h2 class="previous-goals">Previous Goals</h2>
<% @user.goals.each do |goal| %>
<h3><%=link_to goal.name, edit_goal_url(goal.id)%></h3>
<h5><%=goal.description%></h5></br>
<p>Start Date:
<%=goal.start_date%> ||</p>
<p>End Date:
<%=goal.end_date%></br></p>
<p class="status">Status:
<%=goal.status%></br></p>
<%end%>
</div>
</div>
</div>
